*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#homefullpage{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
}

#homepage{
    border: 1px solid black;
    width: 8%;
    height: 40px;
    position: relative;
    top: 2%;
    left: 3%;
}

#homepage p{
    margin-top: 8%;
}