*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    /* border: 1px solid black; */
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: grey;
}

.navitem{
    /* border: 1px solid black; */
    width: 8%;
    height: 8vh;
    margin-top: 1vh;
    color: white;
    font-weight: 550;
    font-size: 18px;
}
/* 
.navitem:hover{
    background-color: black;
} */

.navitem p{
    margin-top: 13%;
    cursor: pointer;
}





